@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
}

[class*='container'] {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
